* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: max(320px, 100vw);
  font-size: 18px;
  background: rgb(250, 250, 250);
  color: rgb(32, 32, 32);
  font-family: 'Montserrat', sans-serif;
}

body {
  padding-top: 1rem;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 0;
}

/*  =======Form Styles ==========*/

.form-container {
  padding: 1.2rem 1ch;
  width: clamp(320px, 50%, 1000px);
}

.form-container label{
  display: block;
}

.form-container input[type="text"] {
  border-style: solid;
  border-color: rgb(195, 195, 195);
  border-radius: 0.3rem;
  padding: 3px 0 1ch 3px;
  width: 100%;
}

.form-container input[type="file"] {
  cursor: pointer;
}

.input-container {
  padding: 0.6rem 0;
}

.form-btns {
  margin: 0.8rem;
  display: flex;
  justify-content: space-around;
}

.get-btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  color: rgb(250, 250, 250);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background 500ms;
  padding: 0.35rem;
}

.primary-btn {
  background: rgb(42, 100, 224);
  font-size: 0.75rem;
  width: 6rem;
}

.primary-btn:hover {
  background: rgb(16, 60, 153);
}

.secondary-btn {
  background: rgb(90, 90, 90);
  font-size: 0.75rem;
  width: 6rem;
}

.secondary-btn:hover {
  background: rgb(71, 71, 71);
}

.get-btn {
  background: rgb(42, 106, 224);
  font-size: 0.8rem;
  width: 60%;
  height: 70%;
}

.get-btn:hover {
  background: rgb(25, 35, 122);
}

/* =========Response Box Styles=============== */

.response-block {
  background: rgb(241, 241, 241);
  box-shadow: 0 4px 5px rgb(71, 71, 71);
  border: solid rgb(126, 126, 126) 1px;
  border-radius: 0.3rem;
  margin: 1.2rem 1ch;
  padding: 0.8rem 1ch;
  width: 100%;
  overflow: scroll;
}

.response-block code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
}

.success-shadow {
  border: solid rgb(67, 196, 41) 1px;
  box-shadow: 0 4px 5px rgb(31, 128, 11);
}

.error-shadow {
  border: solid rgb(214, 55, 55) 1px;
  box-shadow: 0 4px 5px rgb(151, 26, 17);
}

.required-field {
  color: rgb(212, 25, 25);
  font-size: 1.1rem;
}

@media only screen and (min-width: 700px) {

  html, body {
    font-size: 16px;
  }

  .response-block {
    width: 50%;
  }

  .main-container {
    flex-wrap: nowrap;
  }

  .form-container form{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 42% 42%;
    column-gap: 0.7rem;
    justify-content: space-around;
  }

  .form-btns {
    grid-column: 1 / 3;
  }

  .get-btn-cont {
    grid-column: 1 / 3;
  }
}